
<p style="margin-left: 2.5em;border-width: 2px;  ">
	<h2>Your Dashboard</h2>
	
</p>

<div class= "body_centered_outer"><div class= "body_centered_inner">
	
<div class="coins_table_container">

<table class="coins_table" id="coins_table">

	<colgroup>
		<col width="38px">
		<col width="180px">
		<col width="120px">
		<col width="143px">
		<col width="143px">
		<col width="166px">
		<col width="147px">
		<col width="75px">
		<col width="78px">
	</colgroup>
	<tbody>
		<tr class="coin_row_header">
			<td class="coin_cell align_right">
				<span class="coins_table_title unselectable">
					<!-- react-text: 203 -->#<!-- /react-text --><!-- react-text: 204 --> <!-- /react-text --><!-- react-text: 205 --><!-- /react-text -->
				</span>
			</td>
			<td class="coin_cell ">
				<span class="coins_table_title unselectable">
					<span>
					Name
				</span>
				<!-- react-text: 209 --> <!-- /react-text --><!-- react-text: 210 --><!-- /react-text -->
			</span>
		</td>
		<td class="coin_cell align_right">
			<span class="coins_table_title unselectable">
				<span>
				Market Cap
			</span>
			<!-- react-text: 214 --> <!-- /react-text -->
			<span class="fa fa-chevron-down">
			</span>
		</span>
	</td>
	<td class="coin_cell align_right">
		<span class="coins_table_title unselectable">
			<span>Price</span><!-- react-text: 219 -->
			 <!-- /react-text --><!-- react-text: 220 --><!-- /react-text -->
			</span>
		</td>
		<td class="coin_cell align_right">
			<span class="coins_table_title unselectable">
				<span>
				24hour VWAP
			</span>
			<!-- react-text: 224 --> <!-- /react-text --><!-- react-text: 225 --><!-- /react-text -->
		</span>
	</td>
	<td class="coin_cell align_right">
		<span class="coins_table_title unselectable">
			<span>
			Available Supply
		</span>
		<!-- react-text: 229 --> <!-- /react-text --><!-- react-text: 230 --><!-- /react-text -->
	</span>
</td>
<td class="coin_cell align_right">
	<span class="coins_table_title unselectable">
		<span>
		24 Hour Volume
	</span>
	<!-- react-text: 234 --> <!-- /react-text --><!-- react-text: 235 --><!-- /react-text -->
</span>
</td>
<td class="coin_cell align_right">
	<span class="coins_table_title unselectable">
		<span>
		%24hr
	</span>
	<!-- react-text: 239 --> <!-- /react-text --><!-- react-text: 240 --><!-- /react-text -->
</span>
</td>
<td class="coin_cell align_right">
	<span class="coins_table_title unselectable">
		<span>
		Trade
	</span>
	<!-- react-text: 244 --> <!-- /react-text --><!-- react-text: 245 --><!-- /react-text -->
</span>
</td>
</span>
</td>
</tr>
<tr class="coin_row coin_dump">
	<td class="coin_cell align_right">
	1
</td>
<td class="coin_cell">
	<div class="coin_cell_name">
		<span style="color: rgb(108, 108, 46); float: right;">
		</span><span class="sprite sprite-bitcoin small_coin_logo"></span><a style="padding-left: 8px; white-space: nowrap; vertical-align: middle;">Bitcoin BTC</a></div></td><td class="coin_cell align_right">$154,412,931,603</td><td class="coin_cell align_right"><span class="dump_color_dark">$9119.9000</span><span class="dump_color_light">0000</span><span class="dump_color_dark"></span></td><td class="coin_cell align_right"><span class="dump_color_dark">$9031.4844</span><span class="dump_color_light"></span><span class="dump_color_dark"></span></td><td class="coin_cell align_right">17,000,587</td><td class="coin_cell align_right">$8,865,520,000</td><td class="coin_cell align_right" style="color: rgb(108, 168, 46);">0.09%</td><td class="coin_cell align_right"><div style="visibility: visible;"><a>Buy</a><span> / </span><a>Sell</a></div></td></tr><tr class="coin_row coin_dump"><td class="coin_cell align_right">2</td><td class="coin_cell"><div class="coin_cell_name"><span style="color: rgb(108, 108, 46); float: right;"></span><span class="sprite sprite-ethereum small_coin_logo"></span><a style="padding-left: 8px; white-space: nowrap; vertical-align: middle;">Ethereum ETH</a></div></td><td class="coin_cell align_right">$63,750,985,818</td><td class="coin_cell align_right"><span class="dump_color_dark">$646.2600</span><span class="dump_color_light">0000</span><span class="dump_color_dark"></span></td><td class="coin_cell align_right"><span class="dump_color_dark">$627.3351</span><span class="dump_color_light"></span><span class="dump_color_dark"></span></td><td class="coin_cell align_right">99,066,206</td><td class="coin_cell align_right">$2,981,580,000</td><td class="coin_cell align_right" style="color: rgb(108, 168, 46);">0.83%</td><td class="coin_cell align_right"><div style="visibility: visible;"><a>Buy</a><span> / </span><a>Sell</a></div></td></tr><tr class="coin_row coin_pump"><td class="coin_cell align_right">3</td><td class="coin_cell"><div class="coin_cell_name"><span style="color: rgb(108, 108, 46); float: right;"></span><span class="sprite sprite-ripple small_coin_logo"></span><a style="padding-left: 8px; white-space: nowrap; vertical-align: middle;">Ripple XRP</a></div></td><td class="coin_cell align_right">$32,962,238,501</td><td class="coin_cell align_right"><span class="pump_color_dark">$0.8393</span><span class="pump_color_light">1000</span><span class="pump_color_dark"></span></td><td class="coin_cell align_right"><span class="pump_color_dark">$0.8058</span><span class="pump_color_light"></span><span class="pump_color_dark"></span></td><td class="coin_cell align_right">39,146,203,398</td><td class="coin_cell align_right">$1,034,610,000</td><td class="coin_cell align_right" style="color: rgb(108, 168, 46);">1.72%</td><td class="coin_cell align_right"><div style="visibility: visible;"><a>Buy</a><span> / </span><a>Sell</a></div></td></tr>
		</tbody>
	</table>
</div>
</div>
</div>
</tr>
</tbody>
</table>
</div>
</div>
</div>
