


<div class= "body_centered_outer"><div class= "body_centered_inner">
	
<div class="coins_table_container">

<table class="coins_table" id="coins_table">

	<colgroup>
		<col width="38px">
		<col width="180px">
		<col width="120px">
		<col width="143px">
		<col width="143px">
		<col width="166px">
		<col width="147px">
		<col width="75px">
		<col width="78px">
	</colgroup>
	<tbody>
		<tr class="coin_row_header">
			<td class="coin_cell align_right">
				<span class="coins_table_title unselectable">
					<!-- react-text: 203 -->#<!-- /react-text --><!-- react-text: 204 --> <!-- /react-text --><!-- react-text: 205 --><!-- /react-text -->
				</span>
			</td>
			<td class="coin_cell ">
				<span class="coins_table_title unselectable">
					<span>
					Name
				</span>
				<!-- react-text: 209 --> <!-- /react-text --><!-- react-text: 210 --><!-- /react-text -->
			</span>
		</td>
		<td class="coin_cell align_right">
			<span class="coins_table_title unselectable">
				<span>
				Market Cap
			</span>
			<!-- react-text: 214 --> <!-- /react-text -->
			<span class="fa fa-chevron-down">
			</span>
		</span>
	</td>
	<td class="coin_cell align_right">
		<span class="coins_table_title unselectable">
			<span>Price</span><!-- react-text: 219 -->
			 <!-- /react-text --><!-- react-text: 220 --><!-- /react-text -->
			</span>
		</td>
		<td class="coin_cell align_right">
			<span class="coins_table_title unselectable">
				<span>
				24hour VWAP
			</span>
			<!-- react-text: 224 --> <!-- /react-text --><!-- react-text: 225 --><!-- /react-text -->
		</span>
	</td>
	<td class="coin_cell align_right">
		<span class="coins_table_title unselectable">
			<span>
			Available Supply
		</span>
		<!-- react-text: 229 --> <!-- /react-text --><!-- react-text: 230 --><!-- /react-text -->
	</span>
</td>
<td class="coin_cell align_right">
	<span class="coins_table_title unselectable">
		<span>
		24 Hour Volume
	</span>
	<!-- react-text: 234 --> <!-- /react-text --><!-- react-text: 235 --><!-- /react-text -->
</span>
</td>
<td class="coin_cell align_right">
	<span class="coins_table_title unselectable">
		<span>
		%24hr
	</span>
	<!-- react-text: 239 --> <!-- /react-text --><!-- react-text: 240 --><!-- /react-text -->
</span>
</td>
<td class="coin_cell align_right">
	<span class="coins_table_title unselectable">
		<span>
		Trade
	</span>
	<!-- react-text: 244 --> <!-- /react-text --><!-- react-text: 245 --><!-- /react-text -->
</span>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
