<h2> Thank you for your <strong>Subscription</strong> !</h2>

<form action="/dashboard" method="get">
    <input type="submit" value="Go to Dashboard" 
         name="Submit" id="frm1_submit" />
</form>