<center>
	<body bgcolor="#rrggbb">
	  	 <body text="#ffffff" link="#ff0000" vlink="#ff0000" alink="#ff0000">
	  	 	  <font color="#000000">
<form action="/process_login" method="POST">
<br>
	<h3>Login</h3>

	Email:     <input type="text" name="email"><br>
	Password: <input type="password" name="password"><br>
	<br>
	<input type="submit" name="" value="Login">
</form>
</center>